* {
    padding: 0;
    margin: 0;
} 

.line {
    height: 40px;
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #333;
    font-family: "Work Sans";
    text-align: center;
    /* background-color: #145858; */
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid #E5E4E2;
} 

/* span {
    color: #E5E4E2;
    font-size: 15px;
    padding: 0 0.5em;
} */

.text1 {
    color: #E5E4E2;
    padding: 0 0.5em;
    font-size: 15px;
}